[2020-03-11 14:50] kriticalflare opened #1 "Crash on pressing the windows key"
Got the project running on windows with your instructions , pressing the windows key during the typing test causes it to crash.

Platform: Windows 10
Version: Clone from master @ commit https://github.com/Mithil467/mitype/commit/d14b810f56d75b4f622aa35da7745be263c4d22d
Stacktrace:
[code]

[2020-03-11 14:57] Mithil467 commented on #1
Thanks for letting me know about the issue. Confirm this bug exists in https://github.com/Mithil467/mitype/commit/46841dbc92fb10a73c934f351de121e23ea6dffc. Will try to fix it in upcoming commits :+1:

[2020-03-18 13:27] kriticalflare opened #2 "Backspace key doesnt work as intended"
### Subject of the issue
The backspace key instead of deleting the previous character , it acts as invalid input.

### Your environment
* Windows 10
* Cloned @ 909183098e04b0a426f2dba22c25c27b68463185
* Python 3.8.0
* cmd prompt

### Steps to reproduce
Press the backspace key

### Expected behaviour
Delete the previous character

### Actual behaviour
It doesnt delete the previous character but rat

[2020-03-18 13:36] Mithil467 commented on #2
@kriticalflare Thanks for your concern and interest in the project. This is a critical bug and will be fixed in upcoming commits. :+1:

[2020-03-18 16:41] #2 closed

[2020-03-18 16:51] Mithil467 commented on #2
Okay, this is fixed in master. This will be added in next release but will take some time since I need to improve few other things before initiating the release process.
Thanks again! 😊

[2020-03-21 11:13] #1 closed

[2020-03-25 18:24] kriticalflare opened #4 "Emojis dont render"
### Subject of the issue
The keyboard and star struck emojis dont render properly

### Your environment
* operating-system - Windows 10 1903
* version of Mitype - cloned @ 8a51950
* version of Python - Python 3.8.0
* terminal - cmd

### Steps to reproduce
clone and run local_test.py

### Expected behaviour
The emojis to render

### Actual behaviour
Emojis dont render
<img  src="https://user-images

[2020-03-25 19:55] kriticalflare opened #5 "Typing window doesnt adapt to resizing cmd window"
### Subject of the issue
Typing window doesnt adapt to resizing cmd window

### Your environment
* operating-system - Windows 10 1903
* version of Mitype - cloned @ 8a51950
* version of Python - Python 3.8.0
* terminal - cmd

### Steps to reproduce
clone the repo.
Open cmd , it should open unminimized by default
Run local_test.py
Maximize cmd window

### Expected behaviour
The typing window to res

[2020-03-25 20:04] kriticalflare opened #6 "Input text is being repeated on resizing window"
### Subject of the issue
Input text is being repeated on resizing window

### Your environment
* operating-system - Windows 10 1903
* version of Mitype - cloned @ 8a51950
* version of Python - Python 3.8.0
* terminal - cmd

### Steps to reproduce
clone the repo.
Open cmd , it should open unminimized by default
Run local_test.py
Maximize cmd window

### Expected behaviour
The typing window to resiz

[2020-03-26 10:54] Mithil467 commented on #4
Can confirm this doesn't work on windows.
Seems like windows command prompt doesn't support UTF-8. And it of course wont be limited to windows cmd.

If it doesn't support emojis, the app needs to make sure that no garbage elements are printed. For which I need to find out whether the terminal itself supports emojis.

So I'll be trying to find a way to detect if the terminal supports emojis.

Thank

[2020-03-26 12:40] Mithil467 commented on #5
Thanks for the issue @kriticalflare !
I have uploaded a fix in the latest commit.

Please let me know if the issue persists. Also, resizing terminal window is a work in progress. It does fulfill the needs of the issue and also of  #6 , but it is not a complete fix yet.

Resizing still doesn't work as intended after you type certain amount of characters. So my suggestion would be to not resize once

[2020-03-26 18:47] Mithil467 commented on #4
I'm removing emojis for now, as I haven't really gotten a great lead with them.  I am considering to add it later once I have enough knowledge for sure.

[2020-03-26 18:47] #4 closed

[2020-03-27 16:14] #5 closed

[2020-03-27 16:14] #6 closed

[2020-04-05 19:20] klebermagno opened #7 "App crash when using custom text files larger than screen"
### Subject of the issue
When I try use text larger that the screen the code broke.

### Your environment
* operating-system
Mac OS X Catalina
* version of Mitype
0.1.6
* version of Python
python 3.7.3
* which terminal and it's version if applicable
iterm

Problem may be in wrap_text method.

[2020-04-05 19:36] Mithil467 commented on #7
Thanks for the issue @klebermagno
Can you please share the sample text file that you were trying to use? Also, it would be great if you could share the traceback output that you receive on the terminal upon terminal crash.

[2020-04-05 23:26] Mithil467 commented on #7
I have made some changes now.

It would be really great if you could test running from the source directly by following the steps given [here](https://github.com/Mithil467/mitype/blob/master/CONTRIBUTING.md) to see if the issue is indeed solved.
After confirmation, I can make a release with the latest changes.

Did the following changes -

- Added message for user when screen size is insufficient

[2020-04-11 21:42] Mithil467 commented on #7
I'm closing this issue. Feel free to open it if issue persists.

[2020-04-11 21:42] #7 closed

[2020-04-14 06:36] IJustDev opened #8 "Add support for german chars"
### Subject of the issue
Unfortunately if I try to take the test with a German text with the `-f` flag I am not able to input characters needed for some words (like ä, ö, ü).

### Your environment
* OS: Debian 10
* MiType: 0.1.3
* Python 3.7.3

### Steps to reproduce
Grab yourself a German text like this:
[code]
Save it to an file and run
`$ python3 -m mitype -f <file-name>`
And try to get pass th

[2020-04-14 08:08] Mithil467 commented on #8
I am not much aware about the language but I would be happy to add German Support. Thanks for the issue, I appreciate that you have given a sample to work upon. Just let me know are there any more characters than these => yowäöüß€ÄÖÜẞ

[2020-04-14 19:01] IJustDev commented on #8
For German there are only following characters:
`äöüÄÜÖß`.

Thank you very much!

[2020-04-14 20:52] Mithil467 commented on #8
Hi @IJustDev, I was able to add support for German characters on python 3 with commit https://github.com/Mithil467/mitype/commit/52fc0616c9416faca83d7154dd3ab8752eb860ee.
It will be great if you can clone Mitype and run the App locally. This change upon confirmation then can be published in the next version of Mitype.

@ac030540 I had to change the way other keys are detected as well, which might

[2020-04-15 08:40] IJustDev commented on #8
Thank you very much! In the commit you've mentioned everything works fine!

[2020-04-15 13:25] #8 closed

[2020-04-19 03:49] Mithil467 opened #10 "Delayed exit in replay mode"
When inside replay mode, sometimes exit would take a long time. Applicable to all environments.

### Steps to reproduce
Run any Mitype session, wait for at least about 5-6 seconds in between any 2 keys so that the delay is noticeable. Then during replay press ``Esc`` key as soon as that particular key-press is being replayed.

### Expected behaviour
Mitype should exit as soon as ``Esc`` key is pre

[2020-06-19 11:42] dmerejkowsky opened #11 "The package does not contain any script or entry points"
### Steps to reproduce

* Install `mitype` in a fresh virtualenv

### Expected behaviour

* A `mitype` script should be generated in `<venv-path>/bin`

### Actual behaviour
* Nothing is generated and you have to use `python -m mitype` to launch the app

### Your proposed fix
* I can try and make a PR but if your goal is to learn more about package management you should try and fix this yourself :s

[2020-06-19 11:57] Mithil467 commented on #11
I'm very glad you brought up this issue and also proposed to help. I'll try to do it myself as you said, I need to learn :)

Thank you! @dmerejkowsky

[2020-06-19 12:23] #11 closed

[2020-06-30 15:36] #10 closed

[2020-08-24 05:37] Spikatrix opened #12 "High CPU usage"
### Subject of the issue
One of my CPU cores gets maxed out at a 100% the moment I start `mitype`

### Your environment
* Linux
* Mitype 0.1.8
* Python 2.7.12
* GNOME Terminal 3.18.3

### Steps to reproduce
 - Open `mitype`.
 - One CPU core is maxed out at 100% until I close `mitype`

### Expected behaviour
Normal CPU usage

### Actual behaviour
100% CPU usage on one core

[2020-08-24 11:06] Mithil467 commented on #12
Thank you very much for the issue @Spikatrix.

I was able to reproduce it. The issue is because of the non blocking nature of the input in getch. A small change, setting the nodelay flag to false solved the issue.

I have tried the new changes locally. It would be very nice if you could confirm it as well by running it locally on your computer by following the instructions in the README.

[2020-08-24 11:52] Mithil467 commented on #12
Thank you very much for the issue @Spikatrix.

I was able to reproduce it. The issue is because of the non blocking nature of the input in getch. A small change, setting the nodelay flag to false solved the issue.

I have tried the new changes locally. It would be very nice if you could confirm it as well by running it locally on your computer by following the instructions in the README.

Also sin

[2020-08-25 03:18] Spikatrix commented on #12
I've compiled and installed `mitype` from source and the issue seems to be fixed. Thank you @Mithil467 !

[2020-08-25 03:18] #12 closed

[2020-09-18 23:34] Mithil467 opened #13 "Crash upon typing more charaters than text length"
### Subject of the issue
Mitype crashes upon typing more characters than text length.

### Steps to reproduce
Load any text of length 'n'. Type any character except spacebar, n times or more. Then hit spacebar.

### Expected behaviour
The app should continue working fine.

### Actual behaviour
Crashes with traceback:
[code]

### Your proposed fix (if any)
The traceback is very clear. We could use

[2020-09-19 00:08] Mithil467 opened #14 "Running `tox -e 2.7` on mitype gives error"
### Subject of the issue
Following the contributors guide, running `tox -e 2.7` on mitype gives error.
[code]

### Expected behaviour
Should work fine.

### Actual behaviour
Command errors out with exit status 1

### Your proposed fix (if any)
We gotta modify that line under setup.py. But please be careful, because this file decides how mitype appears on [pypi](https://pypi.org/project/mitype/).

[2020-09-19 00:17] Mithil467 opened #15 "Show text ID at top left of window"
There is enough space to fit in the ID of the current text from database at top left.
![image](https://user-images.githubusercontent.com/41439841/93654470-39535b00-fa3b-11ea-99f6-0169a82ab74f.png)
This is a good feature as the user might like a particular text, but there is no way to retest on the same text.
With this feature user can get the ID and rerun `mitype -i ID`

[2020-09-19 00:20] Mithil467 opened #16 "Show more stats at end of each test"
Currently we are only displaying the typing speed. We can add other attributes like `Accuracy` and `Time taken` nearby.

[2020-09-19 00:26] Mithil467 opened #17 "App crashes when certain keys are pressed"
App crashes when certain keys are pressed.

### Steps to reproduce
Run mitype. Press any of these keys:
- Any key on numpad when numlock is off.
- Arrow keys
- fn + function keys

### Expected behaviour
These key presses should be ignored.

### Actual behaviour
Traceback:
[code]

### Your proposed fix (if any)
Add functions to keycheck.py to check for such keys for their string value or integer va

[2020-09-19 00:30] Mithil467 opened #18 "Pressing arrow keys should bring the next or previous text"
For example, if currently I am on text with `ID=450`.
Pressing right arrow key should load text with `ID=451`.
Similarly, now pressing the left arrow key twice should load text with `ID=449`.

[2020-09-19 08:34] #13 closed

[2020-09-22 01:21] andylim0221 commented on #14
I'd like to take on this issue. Will submit PR during Hacktoberfest.

[2020-09-22 06:04] Mithil467 commented on #14
Hey @andylim0221 👋
Thanks for your interest!
Start from latest master, there might be some discrepancy between main repo and your fork as the git history was modified.
To be on a safer side, I would request you to refork this repo.

Please make sure you read the contributing guidelines correctly 👍🏼

[2020-09-24 22:26] jldohmann commented on #18
Hi, I am enjoying playing around with this app! Would love to help out with this issue for Hacktoberfest.

Just for clarity, when you say next or previous text, do you mean the sample text snippets stored in the database? So the arrows should filter thru the database entries?

[2020-09-24 22:40] gudeliauskaspam commented on #16
I have interest in doing this!

[2020-09-25 03:54] Mithil467 opened #20 "Press ESC key to reset test"
Pressing ESC key while the test has already started should reset the text. Note: Currently replay mode cannot detect ESC key. So this issue applied to test mode only and not replay mode.

[2020-09-25 03:59] Mithil467 commented on #18
Hi @jldohmann 👋🏼
Thank you for your interest in contributing! :tada:
I am glad you are enjoying the project.

Yes you are correct. Pressing the left arrow key should load text from database with `ID=ID-1` and right arrow key should load text with `ID=ID+1`.

[2020-09-25 04:07] Mithil467 commented on #18
If the user has already started to attempt the test, that is, he has hit his first key already, then the attributes to the test must reset. Like `start_time`, `first_key_pressed`, etc.
Now I just realized that this is a different issue in itself and hence #20. I am sorry I should have thought about it earlier itself.
Are you okay with first resolving #20 ? That will make this issue simpler.

Or if

[2020-09-25 04:14] Mithil467 commented on #16
Hi @gudeliauskaspam :wave:
Thanks for your interest!

Currently we are displaying the following test at the end of the test:
[code]
We can also display additional stats such as:
[code]
Feel free to suggest different ways to do so, or different stats if you have them on your mind! 💚

[2020-09-25 05:25] thomas901 commented on #20
I am interested in contributing to this project. I would like to try fixing this issue.

For clarification, what exactly would the text being 'reset' look like?

[2020-09-25 05:44] Mithil467 commented on #20
Hi @thomas901 👋🏼
Thank you for your interest in contributing! 😄

If the test timer has not started yet, that is, the `start_time` value is still `0` and the `first_key_pressed` is still `False`, then pressing `ESC` key would exit the app.
Otherwise, during the test, pressing `ESC` would reset the test back to start. The cursor is brought to first position, the timer is set to 0, basically all the

[2020-09-25 06:04] Mithil467 commented on #18
Seems like @thomas901 is willing to take over the issue #20 !

If you are willing to, you may want to have a look at #17 ! As you will be detecting arrow key presses, this issue is very related.
I am very sorry for the conflict. 😅

Would you like to work on #17 or just this issue, its totally your call!

[2020-09-25 10:27] alphaxyz commented on #15
I'm working on it.

[2020-09-25 13:59] #20 closed

[2020-09-25 14:10] #15 closed

[2020-09-25 17:56] jldohmann commented on #18
No worries, I'm happy to work on both! :smile:

[2020-09-25 19:11] Mithil467 commented on #18
That is really great!

[2020-09-25 20:33] Mithil467 opened #23 "Vertical shrinking of screen beyond a limit causes app to crash"
### Steps to reproduce
Start mitype. Reduce the size of the terminal vertically. It will crash after a certain point where screen becomes smaller than what is required to print the text.

### Expected behaviour
Mitype should:
1. Print to stdout a user friendly text message like "Window too small to print given text"
2. Exit

### Actual behaviour
Crashes with traceback -
[code]

### Your proposed f

[2020-09-25 22:24] gudeliauskaspam commented on #16
I want to count how many times the user typed wrong, do you mind giving a tip of in which part of the code can I implement it?
I'm a beginner and I'm having a little trouble to understand some parts.
Thanks! :)

[2020-09-25 23:30] gudeliauskaspam commented on #23
Hey! I have interest in doing this one too if it's okay :)
and I'm going to open a PR during Hacktoberfest!

[2020-09-26 07:55] DarthMuzammil commented on #17
Hey @Mithil467 loving this command line applet.
A first timer here in the Open Source Community and this issue looks like one i might be able to tackle.
Can i have this one ?

[2020-09-26 08:12] Mithil467 commented on #16
No problem @gudeliauskaspam :)

Firstly you might need a class property to keep track of mistyped characters' count. That property e.g. `mistyped_char_count` should go inside `class App()` declaration in `app.py`. The method to calculate the accuracy should go into `calculations.py`.

`check_word` method in `app.py` should give you some info about checking mistyped characters.

Please feel free to

[2020-09-26 08:14] Mithil467 commented on #17
Hi @DarthMuzammil 👋🏼

I am glad you are enjoying the project.
Thank you for your interest in contributing! :tada:

Yes please you may go ahead.

[2020-09-26 08:14] Mithil467 commented on #23
Hi @gudeliauskaspam  👋🏼

Thank you for your interest in contributing! :tada:
Yes it if fine, you may go ahead with it during hacktoberfest as well.

[2020-09-27 07:05] Mithil467 opened #26 "Cursor position must be at beginning of text"
### Steps to reproduce
Start a new test.

### Expected behaviour
Set the cursor position to start of text.
![image](https://user-images.githubusercontent.com/41439841/94357552-6d6ff100-00b7-11eb-8bc2-28e03fd41272.png)

### Actual behaviour
Tell us what happens instead
The cursor's default position is at the end of text.
![mitype cursor issue](https://user-images.githubusercontent.com/41439841/9435

[2020-09-27 07:22] Mithil467 opened #27 "Display stats during replay"
Currently, you can see the stats only when the test or replay has finished.
![image](https://user-images.githubusercontent.com/41439841/94358569-b035c700-00bf-11eb-86b2-4b99d1581ffd.png)

But during the replay there is no way of knowing what the stats were.

When user hits enter to replay, we should display the stats at the bottom of the screen on the last line.

It feels like some other position

[2020-09-27 12:26] RiturajJain commented on #27
Hi, I have played around with this app and would love to contribute to this project. Can I start working on this issue ?

Also, can I work on an issue that is already assigned to someone else ?

[2020-09-27 12:36] Mithil467 commented on #27
Hey @RiturajJain :wave:

Thank you for your interest in contributing to mitype! You can proceed with this for sure. 👍🏼
Before starting please read the Contributing guidelines.

About working on issues assigned to someone else, I really appreciate your interest. But they have been assigned because they were willing to work on it and they commented so under the issue! Hence we would like to have oth

[2020-09-27 14:22] SanchitJain123 commented on #26
Hey @Mithil467, I've used this application and I absolutely loved it. I would like to solve this issue.

[2020-09-27 14:36] Mithil467 commented on #26
Hey @SanchitJain123 :wave:

I am glad you are enjoying the project. We would love to have your contribution.

Please do check the contributing guidelines for further details. :)

[2020-09-27 17:07] SanchitJain123 commented on #26
@Mithil467 I have found the solution to the issue. If you don't mind, I will open PR during hacktoberfest :)

[2020-09-27 17:10] Mithil467 commented on #26
That's great :)

[2020-09-28 15:56] Mithil467 opened #28 "Hide cursor when showing result"
After completing the test, we see the stats -
![image](https://user-images.githubusercontent.com/41439841/94455480-bebfd380-01d0-11eb-9975-9ba02c507720.png)

The cursor is placed at the end.

Let's hide the visibility of the cursor when displaying stats after test. But the cursor must be visible for the rest of the time.

Refer to the python curses documentation [here](https://docs.python.org/3/li

[2020-09-28 16:45] jacobggman commented on #28
can I do that?

[2020-09-28 16:48] Mithil467 commented on #28
Hey @jacobggman 👋🏼

Thanks for your interest in contributing to mitype! Yes you may work on this. Please read our contributing guidelines before getting started.

[2020-09-28 17:31] mananchawla2005 commented on #28
Hey @jacobggman Added a pull request related to this issue.

[2020-09-28 18:07] Mithil467 commented on #28
Hey @mananchawla2005 👋🏼
I really appreciate your effort in contributing to mitype! However, since @jacobggman has requested to fix this earlier, I request to please let him take over the issue.

We'll wait for 6 days for @jacobggman to try solving this issue. Otherwise you may take over. Sounds cool?

Please understand the situation and try to comment on the issue beforehand! Cheers! 👍🏼

[2020-09-28 18:10] mananchawla2005 commented on #28
Yup absolutely its more than fine. @jacobggman Actually i am a bit new in open source. Will try to contribute as much as possible!

[2020-09-28 18:16] Mithil467 commented on #28
Great to know you've found interest in contributing to open source with mitype!

Thanks for understanding @mananchawla2005  Meanwhile you may also want to keep an eye on the upcoming issues on the project! You can "watch" the repo (On top right, besides star).

That will notify you about new issues, if any :)

[2020-09-28 18:18] mananchawla2005 commented on #28
Yup did it thanks anyways!

[2020-09-28 20:38] jacobggman commented on #28
Done. I will make PR in October because of Hacktoberfest

[2020-09-29 17:13] Mithil467 opened #30 "Suggest more features and ideas for implementing in mitype"
## Hey everyone :wave:

I am very happy to see all the love this project has been receiving! 💟

This thread is dedicated for discussions related to improvement of mitype and a place to share your ideas.

We would love to have your sugestions, so feel free to comment them below 😄

[2020-09-30 04:53] BassCoder2808 commented on #30
We can add that if a user has a slow typing speed. Then we should suggest them some links or some suggestion to improve it.
The next thing we can do is to give topics according to categories. So basically first we will sort the text according to different categories and then when the user chooses a particular category we will show the texts/samples of that fields.

[2020-09-30 04:57] BassCoder2808 commented on #30
I had a doubt regarding the closure of this issue as this is a discussion forum how will you assign this to a particular person and what we have to do in the pull requests so that it gets accepted.
Can you please elaborate on it.

[2020-09-30 05:06] Mithil467 commented on #30
Hey @BassCoder2808 :wave:

I created this issue for discussion related to improvements and ideas. So there is nothing to work upon here (as in code) and hence no one will be assigned. If there is a good feature or issue, we will implement it going ahead.

I am glad you have a suggestion for the project. 😄

However, the resources to improve speed can be easily googled for and technically, it is not

[2020-09-30 06:34] himadriganguly commented on #30
Realtime **WPM** on the top left corner of the screen. I think it will be a good feature. I am working on it will create a PR.

[2020-09-30 06:58] Mithil467 commented on #30
Hey @himadriganguly :wave:
Thanks for the suggestion!
It looks visually appealing. However, realtime stats are a major distraction.
Hence I always refrained from implementing it.

[2020-09-30 07:01] himadriganguly commented on #30
But it will be helpful for the user. It gives realtime feedback to the user. I implemented it but it doesn't look a distraction. But definitely, it's your decision to merge the PR or not.

[2020-09-30 07:24] Mithil467 commented on #30
Alright! 🙌🏼
The realtime feedback sounds good @himadriganguly

@ac030540 has some good points about this
- It will encourage them to type faster in the session to achieve their target.
- If we get results at the end then it's often hit or miss.

May you please raise a feature request issue for this? We will discuss it further there. 😄

[2020-09-30 07:31] himadriganguly opened #32 "Show WPM in real-time"
**Is your feature request related to a problem? Please describe.**
Not a problem but an enhancement to the application.

**Describe the solution you'd like**
It will show up on the top left corner of the screen and as the user types, it will update the value automatically in real-time.

**If it is not related to any problem**
It is not a problem but an enhancement to show realtime WPM speed to use

[2020-09-30 07:33] himadriganguly commented on #30
@Mithil467 raised feature request issue.

[2020-09-30 07:34] himadriganguly commented on #30
Another idea is to rotate text using the **CTRL+R** key. It will be better to rotate the text as well if the user wants.

[2020-09-30 07:40] Mithil467 commented on #32
Hi @himadriganguly :wave:
Thanks for the issue :)

Please read the contributing guidelines before starting.
You may go ahead with the fix!

[2020-09-30 08:16] Mithil467 commented on #30
Rotate as in changing the text to next text? If that is what you mean then yep #18 is under process!

[2020-09-30 08:18] himadriganguly commented on #30
Ok great.

[2020-09-30 16:27] MiConnell opened #33 "Add ability to restart mitype without closing and re-calling it"
It would be nice to be able to hit a key to restart the program instead of closing out and calling `mitype` after every run.

[2020-09-30 18:23] Mithil467 commented on #33
Hey @MiConnell ! :wave:

Thanks for raising this issue. This indeed is a nice addition, but #18 does a similar thing. As the immediate right or left text must be random for any user.

We can implement pressing tab to start test with current sample text again. Currently pressing esc currently during the test is happening, resets the test. Make sure we want to restart test if tab is pressed only whe

[2020-09-30 19:09] MiConnell commented on #33
Sorry if my naming didn't make it very clear, but all this enhancement request does is start a new random test instead of requiring the user to close out when they're done and re-type `mitype` to start a new test. The escape functionality to restart the current test seems to work just fine and I wouldn't want to change that.

I see #18 is already assigned so if you believe that will offer similar

[2020-09-30 19:33] Mithil467 commented on #33
Glad you explained it. Yep understood. I did run your branch locally and test it out earlier 😄

Yes #18 serves similar purpose!

So instead what we could implement is:
- Pressing tab to start test with current sample text again.
- Currently pressing esc currently during the test is happening, resets the test.
- Restart test if tab is pressed only when stats are showing.

Are you okay with this?
Pl

[2020-10-01 04:47] Mithil467 commented on #18
Hey @jldohmann! :wave:

#17 has been assigned to someone else. Sorry for all the confusion created. 😅
You may just continue with this particular issue!

[2020-10-01 10:42] bchmnn commented on #30
The database and the command line options could be extended to support code samples (e.g. from GitHub repos) ([inspiration](http://www.speedcoder.net/)).
For example `mitype -l python` gives you some random python code snippet.

[2020-10-01 13:58] Mithil467 commented on #30
Hey @bchmnn :wave:
Thanks for the suggestion! :)
All newlines and tabs and other combinations of whitespaces are squashed in the sample text. Enter key and tab key is reserved for some other purposes.
Also, this will require usage of other keys, like arrow keys because most people tend to first write the brackets () then they press left arrow key, then enter further code, as in `void main(int argc

[2020-10-01 14:50] suhanacharya opened #39 "Add Typing speed Score history"
**Currently there is no way to view history**
It would be great if I could see how much I'm improving using this typing test if we stored all the previous WPM, Accuracy scores in a local file.

**Solution**
At the end of a typing run, pressing a button should show the entire history as a list
Something like this:
[code]
And also maybe color-code each entry in the history based on 'below average',

[2020-10-01 15:04] Mithil467 commented on #39
Hey @suhanacharya :wave:

This seems like a good feature.
Let's first start with a basic version of this feature.
- At the end of each test, save the stats to a file `mitype.history.json` in json format with keys `date, time, id, wpm, accuracy`. Will have to see about the configuration location for appdata, for all the three major Os.
- Calling `mitype --history` should print stats formatted as yo

[2020-10-01 15:11] suhanacharya commented on #39
Yes, I'd love to work on it. I might need some help along the way for the implementation though because I am kind of a newbie. 😄

[2020-10-01 18:10] SanchitJain123 commented on #30
Hi @Mithil467, the idea is that we can create user-profiles, through which the user can track the history of their typing test that they have taken. A progressing history does increase morale as you aim for better speed. Also, we can let them add friends too to see how other people are doing in the typing tests.

[2020-10-01 18:35] Mithil467 commented on #30
Yes @SanchitJain123 awesome!
Isssue #39 has been created to address this! :)

[2020-10-01 18:54] SanchitJain123 commented on #30
Oh, maybe I was a bit late, what about adding friends as well.

[2020-10-01 19:11] Mithil467 commented on #30
Do you mean some web platform to have users on board, and then socializing? This would be entirely a new different project in itself. So currently I am not looking into that part of the project! :)

[2020-10-02 07:57] #14 closed

[2020-10-02 14:08] #28 closed

[2020-10-02 16:10] suhanacharya commented on #39
@Mithil467 I have implemented Save history such that once the user completes the task its automatically stored in history.json and to view all the history we can use mitype --history

It seems to work well when I ran it on my machine (Windows) I haven't used any platform dependant code. Please review it 😄 and tell me if any changes as required.

[2020-10-02 17:42] Unviray commented on #30
Before implementing other features, why doesn't create an HUD. I mean a welcome page which we can choose to **start**, tweak **settings**, view **history** of score and **quit**

[2020-10-02 19:25] jldohmann commented on #18
No problem!! :smile:

[2020-10-02 23:25] diegoramosb opened #43 "Cannot exit mitype with CTRL+C on windows"
### Subject of the issue
The app is not quitting in test or replay mode using ctrl+c. It only quits in test mode pressing esc.

### Your environment
Windows 10
0.2.0
3.7.3
Windows cmd

### Steps to reproduce
1. Run the app
2. Press ctrl+c

Or
1. Run the app
2. Finish a test
3. Press enter
4. Press ctrl+c

### Expected behaviour
The app should exit

### Actual behaviour
In test mode, "^C" appears i

[2020-10-03 08:16] Mithil467 commented on #43
Hey @diegoramosb ! 👋🏼
Glad to have this issue! Yes can confirm this bug exists.

You may go ahead to solve this :)
Make sure you follow the contributing guidelines. 👍🏼

[2020-10-03 09:13] zronghui opened #44 "Add support for Chinese chars"
1. Support Chinese
2. Ignore the comment. The comment start identifier (such as #) can be specified by the user or determined by the file suffix name
3. Ignore multiple spaces  and merge multiple Spaces into one. or just ignore tailing blank spaces

[2020-10-03 10:16] Mithil467 commented on #44
Hey @zronghui 👋🏼
1. I believe that chinese must be already supported, you may try with a text file of your choice and let me know.
2. I feel there is no need to implement comments as such for now, as you may just edit the text file for your needs.
3. Yep this is implemented already!

[2020-10-03 10:23] jai-dewani opened #45 "Taking care of Dependencies that are OS dependent"
**Is your feature request related to a problem? Please describe.**
It's a one-step simple problem that is people need to install two pip packages separately to run mitype on windows

**Describe the solution you'd like**
There are a lot of examples of how to deal with dependencies that are OS-dependent. Check out some on [stackoverflow](https://stackoverflow.com/questions/16011379/operating-system-

[2020-10-03 10:31] Mithil467 commented on #45
Hi @jai-dewani 👋🏼

This is an interesting feature indeed. Do you want to give it a try?

[2020-10-03 10:50] jai-dewani commented on #45
Sure, I will love to give it a try!

[2020-10-03 10:59] Mithil467 commented on #45
Great! Get started by reading the contributing document :)

[2020-10-03 11:02] jai-dewani commented on #45
One question though, I haven't checked the codebase but there seem to be no requirements in the setup.py so does this project actually requires nothing other than `windows_curses` in windows for this to run?

[2020-10-03 11:04] Mithil467 commented on #45
Yes that is right :)

Everything is provided by python standard library.

[2020-10-03 13:07] NinoDoko commented on #30
I'm a big fan of typeracing, and I want to contribute! One suggestion I can make is a way to restart the game, so you don't have to run the command again. Where this would work in the end screen and in the middle of a text - sometimes you mess up big time.

I already made this by having Tab be used as a restart button, but since you mentioned above that Tab is reserved, I can probably try and get

[2020-10-03 13:53] #45 closed

[2020-10-03 14:43] Mithil467 commented on #33
Hey @MiConnell :wave:
Your contribution is valued very much :)

Are you willing to still work on this issue according to the above requirements?

[2020-10-03 15:11] Mithil467 commented on #30
Awesome @Unviray Currently! It is very simple and straight forward to access all the features through command line parameters. Though I am still considering a configuration setting to be added, just that there aren't enough attributes to configure. If someone can find a way to specify any he value for color of text or background, etc (currently by default there are only about 8), it would be cool!

[2020-10-03 15:15] Mithil467 commented on #30
Very happy to see your enthusiasm for contributing to mitype! @NinoDoko 👋🏼
Really glad to have suggestions from you :)

PR #33 has been initiated with the exact same use case. But there is also #18 which loads next or previous text from database. For any user, these text samples would be uniquely random! Hence it serves the same purpose. So instead I have asked the contributor to restart current t

[2020-10-03 17:17] #26 closed

[2020-10-03 17:49] cominixo opened #48 "Stenography with Plover will not work with mitype"
### Subject of the issue
While using mitype with Plover for stenography, Plover will add a space before each word you type, which makes mitype say the word is invalid.

### Your environment
* Arch Linux 5.8.12-arch1-1
* mitype 0.2.0
* Python 3.8.5
* kitty 0.18.3

### Steps to reproduce
Install Plover and try to do a typing test in mitype with it enabled.

### Expected behaviour
Mitype should accep

[2020-10-03 19:55] Mithil467 commented on #48
I'm having trouble wrapping my head around this concept. Like its just a technique to allow typing right. So it shouldn't matter how the content is layed out, it should still enter the text in same order.

Does plover always add a whitespace to all words? Then in that case how is it possible to be used in real life typing?

[2020-10-03 19:57] Mithil467 commented on #16
Hey @gudeliauskaspam :wave:
Havent heard from you in a while.
Just wanted to know whether you are still interested in working on this issue?

[2020-10-03 19:59] Mithil467 commented on #27
Hey @RiturajJain :wave:
Havent heard from you in a while.
Just wanted to know if you are still interested in working on this issue?

[2020-10-03 20:01] gudeliauskaspam commented on #16
Hey! sorry for the lack of information, I'm still working on it, I was a little busy with college, next week I'll open the pull request.

[2020-10-03 20:02] cominixo commented on #48
Stenography uses "chords", so basically you'll press a bunch of keys at once and it'll write the word, and then automatically put a space before it.

[2020-10-03 20:13] Mithil467 commented on #48
Yep I get it. But then I cannot use it daily life to type right? 🤔

[2020-10-03 20:15] cominixo commented on #48
Why not? It's perfectly usable

[2020-10-03 20:16] Mithil467 commented on #48
Oh! But then what issue does one face when typing on mitype?

[2020-10-03 20:22] cominixo commented on #48
The only problem is it will add the space before a word, and mitype will see it as invalid, especially when you get a word wrong, delete and rewrite it, because the cursor will be after the space, and then plover will add another space after that space.

[2020-10-03 20:25] Mithil467 commented on #48
Consider a sample text : "Some sample string"
So there's a limitation with Plover that it will be able to type : " Some sample string" with a space at beginning and not the original text?

[2020-10-03 20:31] cominixo commented on #48
You can make it write "Some sample string" on the first stroke, there's a setting for that. I think the major problem is when erasing a word it will move the cursor after the last space, so you would start at "Some " and then you would write "sample" again and it would become "Some  sample".

[2020-10-03 20:38] Mithil467 commented on #48
Now I understand! Thanks :)

[2020-10-03 22:37] Jitsusama commented on #30
I've noticed some minor typos and docstring inconsistencies. Would that be an alright thing to open up a PR for?

[2020-10-03 22:51] Jitsusama commented on #30
I was also noticing some aspects of this program that differs from other speed typers I've used, mainly how when you make a typo you have to backspace out your mistake. Would you welcome a PR to call this detail out in README.md/--help?

[2020-10-04 08:06] RiturajJain commented on #27
Hi @Mithil467,

Yes, I am. I will be making a PR soon.

[2020-10-04 15:22] Mithil467 commented on #30
Hey @Jitsusama 👋🏼
Very glad to see your interest in contributing to mitype :)

You may want to create an issue for docstring inconsistency and work on it :)

A PR for adding docstrings to all existing functions is highly appreciated. Along with this, you may slip in the typo fixes in same PR. But if there are just typos, I request you to create an issue instead. Let me know if you are interested t

[2020-10-04 15:51] Mithil467 commented on #27
@RiturajJain

I need to be a bit clear with this statement. By this I mean the very bottom most line where the terminal ends.
Print it as:
`WPM:65`

[2020-10-04 16:34] MiConnell commented on #33
Sure thing, I'll plan on having something done early this week!

[2020-10-04 17:16] Jitsusama commented on #30
I'll create an issue on it shortly, thanks.

[2020-10-04 17:17] LucaPalumbo opened #50 "New languages support"
Hi, I think it would be nice if mitype could also support other languages like Italian, French, Spanish and so on.

**Solution i'd go with**
Add other tables to database. Something like `data_it`, `data_es`, `data_fr`... with the same columns as data
Add a commandline feature ```-l``` or ```--lang``` that let you specify which language you want to write in.
Add a function in _database.py_ that sel

[2020-10-04 17:22] Jitsusama opened #51 "Use docstrings more consistently"
This issue is concerning the desire to fix some inconsistent docstrings as well as to fix a minor typo or two.

For docstrings, the desire is to more consistently format them in accordance to pydocstyle, and as requested, I'll also try and add some additional ones on existing functions/methods.

For typos, I have found one or two spelling errors that I would like to tackle at the same time.

[2020-10-04 17:46] Mithil467 commented on #50
Hey @LucaPalumbo :wave:

Mitype currently supports loading sample text from text files. Adding text phrases for various languages might be an overkill as there are many languages! That would also increase the package size significantly! Considering these points I'll close this issue.

However, very glad to know your interest in contributing to mitype! :)

[2020-10-04 17:46] #50 closed

[2020-10-04 18:32] Mithil467 opened #53 "Fix Sphinx documentation"
Since mitype is seeing some docstring improvements (#52), it would be a good time to also work on the sphinx documentation.

Currently the Sphinx setup lies in [docs](https://github.com/Mithil467/mitype/tree/master/docs) folder.

There were several changes to the project like moving from `README.rst` to `README.md` and the setup is very outdated.

[2020-10-04 18:42] Jitsusama commented on #53
Sounds great! Just to make sure the expectations are clear, is this your hopes:

1. Make sure current Sphinx configuration is "up to snuff".
2. Make sure all source code modules are included in the Sphinx auto-generated documentation.
3. Copy most of the contents of README.md into the docs folder, but make it more appropriate as a general documentation page.

[2020-10-04 18:43] Mithil467 commented on #53
That sounds perfect @Jitsusama ! 🙌🏼

[2020-10-05 00:53] AltheusV opened #54 "Pin the red color on the mispelled letter"
Pin the red color on the mispelled letter

**Steps to reproduce**

* If the user misspelled a word, the red color will be pinned exactly on the first misspelled letter

**Expected behaviour**

![image](https://user-images.githubusercontent.com/30200769/95030431-10aba200-0686-11eb-836f-d22f76b8186c.png)

**Actual behaviour**

![image](https://user-images.githubusercontent.com/30200769/95030411-efe3

[2020-10-05 01:08] gudeliauskaspam commented on #23
hey @Mithil467 , sorry for the lack of news, I will start working on this problem next week :)

[2020-10-05 08:36] Mithil467 commented on #44
Tested localy. Does support chinese chars already! :)

[2020-10-05 08:36] #44 closed

[2020-10-05 16:53] #53 closed

[2020-10-05 20:17] #27 closed

[2020-10-06 11:00] #17 closed

[2020-10-06 19:32] #48 closed

[2020-10-06 19:43] Mithil467 commented on #54
Hey @AltheusV 👋🏼

Currently series of character is highlighted hence stressing more on the fact that something is wrong, as compared to one highlighted character which might be visually missed. Also, confusion will exist for the first time until user does some trial and error, and is bound to happen even with this change! Hence I'll close this issue.

Other than that, I am very happy to know about

[2020-10-06 19:43] #54 closed

[2020-10-07 00:01] MiConnell commented on #33
Hello, I've updated PR #31 for your review.
### Pressing tab to start test with current sample text again.
- Pressing escape before starting the test exits mitype. (existing feature) ✓
- Currently pressing esc currently during the test is happening, resets the test. (existing feature) ✓
- Restart test if tab is pressed only when stats are showing. (new feature) ✓

[2020-10-07 00:08] ElijahAhianyo commented on #43
Hi, @diegoramosb @Mithil467  has anyone taken this up? i'd love to work on this

[2020-10-07 23:31] gudeliauskaspam commented on #16
Heyy @Mithil467,
 I have a question I would like to share.
When we type an incorrect character if we give backspace we can correct it, even if we have this option, do you think that the accuracy implementation still makes sense?

[2020-10-08 05:55] Mithil467 commented on #43
Hey @ElijahAhianyo :wave:
Thanks for your interest in contributing. This issue has been assigned to @diegoramosb.

Please confirm, are you still willing to work on this @diegoramosb? :)

[2020-10-08 08:14] Mithil467 commented on #16
Yes it does! @gudeliauskaspam

If user types any character, we increment `total_chars_typed` (ignoring keys like backspace).
If user types a wrong character, we increment `wrongly_typed_char_count`.

We would use this formula `Accuracy = (total_chars_typed - wrongly_typed_char_count) / total_chars_typed`.

So if user hits a wrong key, we immediately take a note of it. Now even if he corrects it, t

[2020-10-08 15:20] Mithil467 commented on #43
There's an update to this issue, can exit mitype with ESC key now! :)

[2020-10-09 13:47] #33 closed

[2020-10-09 15:14] #39 closed

[2020-10-09 21:39] diegoramosb commented on #43
Hi @Mithil467 I am working on it. I just saw the update and will make the pull request in a bit.

[2020-10-11 07:16] Mithil467 commented on #43
This issue has also been raised on [windows_curses](https://github.com/zephyrproject-rtos/windows-curses/issues/8). Just something to keep track of.

[2020-10-13 04:51] #43 closed

[2020-10-13 12:21] #32 closed

[2020-10-14 16:38] Mithil467 commented on #16
@gudeliauskaspam #56 was opened a few days ago to add time taken stat. So let's try and get it merged if possible.

We still have other stats to implement like the accuracy stat which you may work on :)

[2020-10-14 16:41] gudeliauskaspam commented on #16
Oh sorry, I will work on it as soon as possible!

[2020-10-14 16:42] Mithil467 commented on #16
Was just notifying you about it :)
No worries 👍🏼

[2020-10-17 10:20] Mithil467 opened #59 "Visual glitch when using backspace to clear text on multiple rows"
### Steps to reproduce:
Start mitype, preferably with a relatively lesser width terminal window.
Spam any wrong keys so that the text overflows to next line as shown below.
![image](https://user-images.githubusercontent.com/41439841/96334494-d8955d80-108e-11eb-9171-60a684d8f967.png)
Try to clear those keys by pressing backspace.
![image](https://user-images.githubusercontent.com/41439841/96334502-

[2020-10-17 10:24] sks147 commented on #59
Hi @Mithil467, can I pick up this issue.

[2020-10-17 10:27] Mithil467 commented on #59
Hey @sks147 :wave:
Thank you for your interest in contributing!
Please make sure to read the [contributing](https://github.com/Mithil467/mitype/blob/master/CONTRIBUTING.md) guidelines before getting started :)

[2020-10-17 10:28] sks147 commented on #59
Sure.

[2020-10-19 22:15] gudeliauskaspam commented on #23
as far as i could understand the problem and the code in initialize method, a solution would be to count how many characters or maybe words fit in the box vertically

[2020-10-20 05:15] Mithil467 commented on #23
Have a look at this line, this is what is being done once at the start of the program.
https://github.com/Mithil467/mitype/blob/10792fcfe6d4591977fd235110fdddc054557429/mitype/app.py#L157
So at the start, we already are checking if window size if enough to print the text.

Similarly, we will need a check inside resize function.
https://github.com/Mithil467/mitype/blob/10792fcfe6d4591977fd235110fdd

[2020-10-21 00:19] gudeliauskaspam commented on #23
sorry I got it wrong, thanks for clarifying!

[2020-10-21 15:50] Mithil467 opened #63 "Erase typed word with CTRL+backspace"
Sometimes user might not realize he's typing incorrectly and continue typing multiple words. In such a scenario, one may prefer erasing the entire word with the help of the `ctrl + backspace` combo.

For example -
Current string is "quqick brown"
![image](https://user-images.githubusercontent.com/41439841/96744405-a2cfdc00-13e2-11eb-890c-70ef98f1e07e.png)

Pressing the key combo should erase the l

[2020-10-22 02:29] mprovenc commented on #63
I would like to work on this

[2020-10-22 04:35] Mithil467 commented on #63
Hey @mprovenc 👋🏼
Glad to know your interest. Make sure you read the [contributing guidelines](https://github.com/Mithil467/mitype/blob/master/CONTRIBUTING.md) before starting!

[2020-10-24 01:04] gudeliauskaspam commented on #16
Dooone! :)

[2020-10-25 12:38] #16 closed

[2020-10-28 22:39] gudeliauskaspam commented on #23
I fixed this problem and new ones appeared.
My solution, even if it is consistent in my point of view, behaves in such a way that the application closes without error whenever the resize is done.
I'm working on it, sorry for the long time.

[2020-10-29 09:06] Mithil467 commented on #23
No issues. Just make sure you are on the latest code on master before working!

[2020-10-29 20:48] Vinzent03 opened #65 "Mitype complains about missing _curses module on Windows"
### Subject of the issue
When I start mitype with `mitype` in cmd on **windows** I get the error `ModuleNotFoundError: No module named '_curses'` In some research I found out, that `curses` is not really supported on windows. To fix this problem I had to run`pip install windows-curses`. I think that should be documentated.

### Your environment
* windows
* mitype: 0.2.0
* python: 3.8.5
* terminal:

[2020-10-29 21:24] Mithil467 commented on #65
Hey @Vinzent03 :wave:

This was documented earlier, but PR #45  was merged to make it such that this dependency is automatically resolved on windows. So for upcoming releases this is supposed to work out of the box. Although, I see that currently there is no way for users to know that they need `windows_curses` for mitype v0.2.0 and lesser.

v0.2.1 will be out very soon, and users won't face this

[2020-10-29 21:32] Mithil467 commented on #30
Hey everyone! :wave:

Thank you very much for all your suggestions, ideas and PRs that has made mitype better. ❤️
I'm closing this thread, but you can always comment here or create an issue for a feature request :)

[2020-10-29 21:32] #30 closed

[2020-10-29 21:48] Vinzent03 commented on #65
Thank you much for the fast response. To add it to [BUILD.md](https://github.com/Mithil467/mitype/blob/master/BUILD.md) is a good idea, that should make it clearer. Glad to see what's else in the update.

[2020-10-29 22:40] gudeliauskaspam commented on #23
hey, @Mithil467. I need your help.
I made this check

[code]

When I increase or decrease the size of the terminal, it says "Window too small to print given text".
this should not happen when increasing.
 it doesn't make sense for me not to work :sob:

[2020-10-30 06:32] Mithil467 commented on #23
The issue here is, you are comparing it with len(text) but that returns the length of the string and not the vertical height of the window required.

Currently there exists a check here -https://github.com/Mithil467/mitype/blob/d3f756ac28b707e2a18556bb993176af978f9151/mitype/app.py#L154

We have to do something similar in the resize function here -
https://github.com/Mithil467/mitype/blob/d3f756ac

[2020-11-01 06:44] jai-dewani commented on #59
Since it has been a long time and no update seems to happen, Can I work on this issue?

[2020-11-01 07:14] sks147 commented on #59
Hi @jai-dewani, you can pick up this issue. @Mithil467 really sorry for no updates on this. I got really busy.
Thanks again @jai-dewani, you can get this assigned to you.

[2020-11-01 09:55] Mithil467 commented on #59
@sks147 That's totally fine :)
@jai-dewani Sure you may go ahead with this!
You may refer to the PR #62 and just have a look at what was implemented and what conversation we had,

[2020-11-01 10:11] jai-dewani commented on #59
Okay, restricting `current_word` seems like a very reasonable solution without over engineering this problem. A limit in the range of 20-30 sounds reasonable.

Do you think we should inform the user in some way about him reaching the limit of the wrong letters he has typed? Maybe a sound  or a textual message at the bottom left/right saying
`you have pressed too many wrong keys,  try backspace to

[2020-11-01 10:15] Mithil467 commented on #59
I like the idea of a visual indicator. We can change the color of the printed word to red (as we do when the user types incorrectly) when the max length is reached.

[2020-11-01 10:50] jai-dewani commented on #59
Wow, that seems like an even better indicator, I'll get going then.

I'll create a separate variable for the limit on `current_word` which can be easily updated to change the limit in the future if needed. Sounds good?

[2020-11-01 11:03] Mithil467 commented on #59
Yes. That'd be great :)

[2020-11-01 11:47] #59 closed

[2020-11-03 00:44] gudeliauskaspam commented on #23
Finally done :)

[2020-11-06 16:05] Mithil467 commented on #18
Hey @jldohmann :wave:
Not having heard from you for a while, I hope everything is well.

Please confirm if you are willing and available to work on this issue!

[2020-11-06 16:06] Mithil467 commented on #63
Hey @mprovenc 👋

Please confirm if you are willing and available to work on this issue!

[2020-11-06 16:38] mprovenc commented on #63
I am still willing to work on this issue, have just been bogged down with some other work lately. It will probably be another week or so before I can start work on it again. If you need to reassign because of time, you can go ahead

[2020-11-07 20:56] Mithil467 commented on #23
Thank you so much for the fix! @gudeliauskaspam 😄

[2020-11-07 20:57] #23 closed

[2020-11-09 20:23] jldohmann commented on #18
hey @Mithil467 thanks for checking in.

I unexpectedly got busy with commission work during October, and am still swamped. I won't be able to work on this right now!

[2020-11-10 06:36] #65 closed

[2020-11-17 21:06] mrbasel commented on #18
Hey @Mithil467 , can I work on this?

[2020-11-17 21:11] Mithil467 commented on #18
Sure! @mrbasel  👍🏼
Make sure you follow the contributing guidelines.

[2020-11-18 14:14] #18 closed

[2020-12-05 12:12] abstanton commented on #63
Hi, want me to work on this? Have used python and curses before, seems like it's not currently being worked on

[2020-12-05 12:17] Mithil467 commented on #63
Hi @abstanton 👋🏼
Glad to know about your interest in contributing! You may work on this.
Please go through the contributing guidelines before starting.

[2020-12-05 13:08] abstanton commented on #63
It appears to be tricky to detect a ctrl+backspace key combination curses. On my ubuntu machine ctrl+backspace in the terminal is bound to ^H (ctrl+h). However this may not be the same for all operating systems. There is no standard way to get this combination, any recommendations?

[2020-12-05 14:02] Mithil467 commented on #63
Keys do vary a lot with operating systems, the way we handle this is to check for those keys across all operating systems with both python 2 and 3. You rightly said, there's no standard way to get the key press.
Will have to experiment a bit in order to get the key combinations.
Check https://github.com/Mithil467/mitype/blob/a685c42f1f9a3733a2ae0a20084d4d8b40fd08e6/mitype/app.py#L495 and [keycheck

[2020-12-05 14:34] mprovenc commented on #63
Hey @abstanton and @Mithil467, I had started working on this issue earlier in the semester, but things got very busy with school and I never ended up picking it up again. I was working on a Windows machine and found that this method seemed to work for detecting ctrl+backspace:
[code]
I believe that `\x7f` is ASCII DEL. Hope this helps.

[2020-12-05 15:20] Mithil467 commented on #63
This indeed is helpful.
Upon testing, I got the ascii value as `127` which is `7f` in hex.
Thank you very much for sharing your findings and contributing @mprovenc!
School is very demanding especially during the end of semester.

[2021-01-02 11:17] jai-dewani commented on #63
Hey, @Mithil467 @mprovenc @abstanton is anyone still working on this?

[2021-01-02 11:19] abstanton commented on #63
Hi @jai-dewani , I am still on this! Just been having a break due to hristmas + an operation but can start it again this week

[2021-01-02 11:23] jai-dewani commented on #63
Cool!
Just a tip, I was working on this issue on my windows machine, and the code for CTRL + backspace is `\x17` which is different from what @mprovenc found, so make sure to test both :)
Best of Luck 👍

[2021-01-02 11:32] Mithil467 commented on #63
Thanks for your interest to work on the issue and for providing the information! @jai-dewani
Alright, sure! 👍🏼 @abstanton

[2021-01-02 11:44] jai-dewani opened #72 "Share Score on Twitter"
**Is your feature request related to a problem? Please describe.**
It's not much of a problem but a way to bring more traction to this project, you must have seen websites where you can do some things and share your results on social media which brings more people into the project from there following and so on.....

**Describe the solution you'd like**
When the user completes the test we can prov

[2021-01-02 11:50] Mithil467 commented on #72
Thanks for the issue and the detailed description! @jai-dewani
Very interesting feature indeed. 🙌🏼

Would you like to work on it?

[2021-01-02 12:03] jai-dewani commented on #72
Sure, I came for some different issue but might as well contribute something :p
What key combination do you think we can use for this?
- CTRL + T (T for Twitter, wait isn't this shortcut for opening a new terminal on ubuntu?)
- CTRL + S (S for share)
- Or you have some different key in your mind?

[2021-01-02 12:07] Mithil467 commented on #72
Great!
Yes, `CTRL+T` is used for opening a new tab on some terminals, especially on Ubuntu.
`CTRL+S` sounds good.

[2021-01-02 12:18] Mithil467 commented on #72
Capturing a screenshot of the terminal sounds awesome, but might be difficult to implement as a cross-platform feature.
Let's start with a simple text tweet. Later we can extend it to images.

We can think over the image part later.
Feel free to propose any other ways this could work out.

[2021-01-02 13:56] jai-dewani commented on #72
Cool, I will go with `CTRL+S`.

I'll work on just the text option as of now and will look for different ways capturing terminal screenshot can be done

[2021-01-04 04:51] jai-dewani commented on #72
I am going though some ideas on what could be the content of the tweet? I have created [this][#1] link, try opening it.
We also have to add a link which can guide the user to the project, I am confused between the the [docs](https://mithil467.github.io/mitype/installation.html) and the [pypi manager](https://pypi.org/project/mitype/) or maybe the github link of this repo.

What are your views on t

[2021-01-04 10:35] Mithil467 commented on #72
I see. We can tweet a simple message like [this]https://twitter.com/intent/tweet?text=My+typing+speed+is+65+WPM%21+Know+yours+on+mitype.%0D%0Ahttps%3A%2F%2Fpypi.org%2Fproject%2Fmitype%2F%0D%0A%23TypingTest+). It includes the link to the PyPi managerrepo, and hence also makes a small pop-up appear.

[2021-01-04 11:01] jai-dewani commented on #72
Do you wanna add `Know yours on mitype created by @twiiter_useranme` for personal promotion?
Just asking because I would have but different people have different opinions.
Other than this, almost everything else is done. The program at the end looks like this

![image](https://user-images.githubusercontent.com/33520257/103528498-134aad00-4eaa-11eb-9d2f-e1dace3fb6a8.png)

[2021-01-04 11:08] Mithil467 commented on #72
I agree with that. Let's go with [this ](https://twitter.com/intent/tweet?text=My+typing+speed+is+65+WPM%21+Know+yours+on+mitype.%0D%0Ahttps%3A%2F%2Fpypi.org%2Fproject%2Fmitype%2F+by+%40MithilPoojary%0D%0A%23TypingTest) then.

The `CTRL+S to share your result on Twitter` might overflow through the window if the width is less. Just `CTRL+S to share result` is better.

Good work! 🙌🏼

[2021-01-13 01:14] LastCleanShirt opened #75 "zsh: permission denied: mitype"
I just installed oh-my-zsh to my zsh and i reinstall mitype but when i run `mitype` on my iTerm2 it says zsh: permission denied: mitype

I already re-install and un-install mitype but it still doesn't work

[2021-01-13 08:53] Mithil467 commented on #75
Hi @LastCleanShirt
Look at this solution [here](https://github.com/ohmyzsh/ohmyzsh/issues/849#issuecomment-8685169) and let me know if it helps.

[2021-01-14 12:23] #72 closed

[2021-01-25 18:22] #75 closed

[2021-02-05 14:07] zartan068 opened #76 "Option for type on new dataset."
Whenever i finish typing on a dataset in mitype it will show only two of the following option.

So, to type on new dataset i have to restart it.
Their should be a third option to type on a new dataset.

[2021-02-05 18:19] Mithil467 commented on #76
This feature has been added in #70 and will be available in the upcoming update v0.2.2 which will be released in few days!

[2021-02-05 18:19] #76 closed

[2021-02-06 08:34] Mithil467 opened #77 "Resizing window after changing text with arrow keys resets text to initial text"
### Subject of the issue
Pressing arrow keys at the beginning of the test changes the text to the new text. But resizing the window afterwards would reset the text to the initial text.

### Steps to reproduce
- Start mitype.
- Press arrow keys to change the text to subsequent values.
- Resize the window.

### Expected behaviour
Text should stay as the latest value.

### Actual behaviour
Text reset

[2021-02-06 08:43] #77 closed

[2021-05-21 04:19] jai-dewani commented on #63
Hey @Mithil467 are you working on this issue otherwise can you assign it to me?

[2021-05-21 04:24] Mithil467 commented on #63
Sure! :)

[2021-05-23 14:31] jai-dewani commented on #63
Okay, my PR isn't working for all terminals.
It's only working for VSCode terminal because they have a special mapping for `Ctrl+Backspace` as `^W`

If Interested in understanding how much of a mess terminal key mappings are, You can read about it here=> https://github.com/microsoft/terminal/issues/755

I can't come up with a clean solution right now, give me some more time, or maybe you can throw

[2021-05-23 15:53] Mithil467 commented on #63
Firstly, thanks for the PR!

You are correct about the mappings being very messy consdering which there might not even be a clean solution.
It seems difficult to get it working with linux but it seems to be possible with windows because in Cmd and Powershell, `Ctrl+Backspace` erases the entire word which means there might be a way to detect it.

Let's try to target windows only with this issue. If

[2021-06-16 09:04] CorentinGaillard opened #80 "replit not working"
### Subject of the issue
I clicked the [replit link](https://replit.com/@mithil467/mitype) out of curiosity, but It's missing a main.sh, so it won't run

### Your environment
Windows 10 - Edge
replit environment:
python 3.8.10 (at the time of writing)
GNU bash 4.4.20

### Expected behaviour
The program should launch automatically when the environment loads, or be a few steps from launching

### Ac

[2021-06-17 04:08] Mithil467 commented on #80
Thanks @CorentinGaillard  for reporting the issue!

According to Repl's [documentation](https://docs.replit.com/repls/repl-run) they no longer support running terminal apps directly in browser. The new way is to visit the source repl and hit the run button. But even then it wasn't running as somehow, the project had been classified as a `bash` project instead of `python`. Hence it was asking for a

[2021-06-17 04:08] #80 closed

[2021-06-18 13:47] CorentinGaillard opened #81 "Highlight errors on the end screen"
I'd love to be able to visualize the error I made during the run, as in the screenshot.

![image](https://user-images.githubusercontent.com/44948182/122568509-185f7b00-d04a-11eb-802d-fe2b3fff0266.png)

Also, the same app ([*here*](http://dactylotest.free.fr//dactylotest/)) displays a "fluidity" score, which is higher the more stable you are while typing.
I believe it can be calculated from somethi

[2021-06-21 06:43] Mithil467 commented on #81
The way mitype works is that you can't proceed to next word without correcting the previous one. So having this kind of visualization at the end of the run isn't really applicable.

We will look into fluidity score. That will be worked on under a separate issue :)

Thanks for the suggestion!

[2021-06-22 08:35] CorentinGaillard commented on #81
I'll try to get a working example of what I mean for the highligting, I'm pretty sure it's relevant.
Thanks for the fluidity score :)

[2021-06-23 13:34] CorentinGaillard commented on #81
Ok, I've got something working, but it's on a machine without internet, so I can't really commit.
There are just a few pieces of code added though, so I'm gonna put them here. I you wan't to, I probably can find a way to commit, but it's much easier for me to list here what I changed.
all the changes are in the file app.py
in `__init__(self)`:
[code]
in `erase_key(self)`:
[code]
and lastly, in `up

[2021-07-07 07:03] Mithil467 commented on #63
Let's merge #79. We can just have it working for at least a few terminals out there that have the key binding. Later we can try adding support for other terminals.

[2021-07-07 07:04] #63 closed

[2021-08-11 04:20] Mithil467 opened #82 "Highlight mistyped characters at the end of the test"
Mistyped characters are highlighted during the test. Similarly, all the mistyped characters should be highlighted at once at the end of the test.

**Example:**
![image](https://user-images.githubusercontent.com/44948182/123105378-0c9ffa00-d438-11eb-81dc-8f7872973720.png)

Please refer to #81 for the proposed solution mentioned [here](https://github.com/Mithil467/mitype/issues/81#issuecomment-86684

[2021-08-11 04:50] Mithil467 commented on #81
Hey @CorentinGaillard :wave:
I'm splitting this issue as it is a combination of 2 issues right now.

Can you help me understand the fluidity score?
If it is the variance of the time interval between two keystrokes, it might not make complete sense to the user. A more user-friendly stat could be the average time interval between two keystrokes.

[2021-08-11 14:28] Ajchler commented on #82
Hi @Mithil467, I'd like to work on this issue and I have few questions. The original issue suggested highlighting erased characters rather than mistyped, even though erasing a character doesn't always mean a missed character. Would you like me to stick to the original idea of highlighting everything you erase or should I find a way to highlight mistyped characters only (e. g. by checking if input

[2021-08-11 15:44] Mithil467 commented on #82
Hey @Ajchler 👋

Thank you for your interest in contributing to mitype!
Before starting please read the Contributing guidelines.

It makes sense to mark the characters which were typed incorrectly and not all that were erased. So if a user erased a corret character, it should not be highlighted at the end of the test.

This is the line of code where we are finding the index at which the typed out t

[2021-08-12 17:47] #82 closed

[2021-09-01 12:19] Mithil467 opened #84 "Incorrect formatting on docstrings with multi-line return"
The formatting is messed up for the `return` section with multi-line description.
For example https://mithil467.github.io/mitype/api.html#mitype.keycheck.is_escape.

### Expected behaviour
Formatting should be the same for all lines.

### Actual behaviour
![Screenshot 2021-09-01 173923](https://user-images.githubusercontent.com/41439841/131669110-af58d31e-2e58-45d9-9e2c-cc9df5e84676.png)

### Your

[2021-09-01 12:36] 31Sanskrati commented on #84
I want to solve this issue, Can I?

[2021-09-01 12:41] Mithil467 commented on #84
Hey @31Sanskrati 👋🏼
Thank you for your interest in contributing!
Please make sure to read the [contributing guidelines](https://github.com/Mithil467/mitype/blob/master/CONTRIBUTING.md) before getting started :)

[2021-09-01 16:43] #84 closed

[2021-09-03 15:07] Mithil467 opened #87 "Ending support for Python 2"
<div type='discussions-op-text'>

<sup>Originally posted by **Mithil467** September  3, 2021</sup>
Python 2 support was added initially because it was really easy to do so. But it is not really necessary. The advantages are minimal, and the development overhead is far greater with testing code on both Python versions and ensuring that code is compatible with Python 2.

So moving on, all the code s

[2021-09-04 08:47] adityakk29 commented on #87
I'm working on tasks 1, 2 and 4.

[2021-09-04 10:05] #87 closed

[2021-09-04 15:24] Mithil467 opened #92 "Open files using `with` statement"
It is a good idea to use `with open(filename) as f:` instead of using a combination of `open` and `close`.
Python ensures the resources are closed with the context.

The files to be changed are -

- [ ] history.py
- [ ] commandline.py

[2021-09-04 15:38] Mithil467 opened #93 "Limit for `current_word` length is overridden with spaces"
A limit for length of characters for `current_word` was imposed in PR #66.
But pressing spaces once the limit is reached still adds up in `current_word`.

### Steps to reproduce

1.  Start a test.
2.  Press incorrect keys till word limit of 25 is reached.
3.  Press space.

### Expected behaviour
Spaces should not be added once the length limit is reached.

### Actual behaviour
Spaces are still add

[2021-09-05 11:02] #92 closed

[2021-09-05 11:17] #93 closed

[2021-09-05 11:24] Mithil467 commented on #81
I am closing this issue for now due to lack of information. Please feel free to open a new issue if needed!

[2021-09-05 11:24] #81 closed

[2021-10-05 13:45] Mithil467 opened #104 "The replay is slowed down"
### Steps to reproduce

1. Attempt a test.
2. Note the time taken.
3. Play the replay.
4. Notice that the time taken is more.

### Expected behaviour
Replay should reflect moderately similar speed.

### Actual behaviour
Replay is slower and takes longer to finish. There's much more time difference between 2 key presses.

### Your proposed fix (if any)
A better way to catch the `ESC` key without ti

[2021-10-05 19:30] davleop opened #105 "A minor issue with indexes"
### Subject of the issue
I would go look at it now, but I am busy, but here is the traceback of the error I've come across.

### Your environment
 Ubuntu 16.04.7 LTS
Mitype version 0.2.3
Python 3.8.11
GNU bash, version 4.3.48(1)-release (x86_64-pc-linux-gnu)

### Steps to reproduce
I finished almost all of the typing test, but then when I missed the period around the end and hit <enter> and then t

[2021-10-06 04:35] Mithil467 commented on #105
Thanks for the issue! @davleop
Can confirm this issue exists on the latest master.
https://github.com/Mithil467/mitype/blob/63cf85813133ef33ff174c50e9041ff801767b8a/mitype/app.py#L277-L284

This can be reproduced by typing extra (incorrect) characters towards the end of the text, like you mentioned missing a fullstop.

A valid solution could be to not append the index if it is an out of bound inde

[2021-10-06 12:06] Prathamesh010 commented on #105
I would like to work on this issue!

[2021-10-06 20:49] rpesche opened #108 "Mitype crash when the `~/.mitype_history.csv` exists without header"
This situation doesn't exist by itself without creating manually.

If the `~/.mitype_history.csv` exists without header, only as empty file, mitype crash with a `StopIteration` exception.

It can be reproduced easily :

[code]

[2021-10-06 21:14] rpesche opened #110 "Fix showing history with 0 records"
When running `mitype`, showing history is possible with `--history` or `-H` parameter.
It can be followed by a number, in order to show N records from the history.

If `mitype` is running with `--history 0`, instead of showing history with 0 records, the typing test is launched.

I can be reproduced with :

[code]

[2021-10-06 22:43] Dark-Knight11 opened #112 "Code of Conduct link is broken"
The code of conduct link at the end of `CONTRIBUTING.md` file is broken.

[2021-10-07 03:52] #112 closed

[2021-10-07 03:58] Mithil467 commented on #105
Thank you for your interest in contributing to mitype!

[2021-10-07 04:02] #105 closed

[2021-10-07 12:30] #110 closed, assigned to rpesche

[2021-10-09 05:55] #108 closed, assigned to rpesche

[2021-10-09 06:15] Mithil467 opened #114 "Storing project metadata in pyproject.toml"
Transition to [PEP 621](https://www.python.org/dev/peps/pep-0621/) by adding a pyproject.toml file and moving metadata from setup.py. This might be a good first issue for someone who has already worked with Python packaging rather than a complete novice.

[2021-10-09 08:45] Dark-Knight11 commented on #114
I would like to work on this issue

[2021-10-09 10:09] Mithil467 commented on #114
Thanks for your interest in contributing to mitype! @Dark-Knight11

[2021-10-10 18:59] #114 closed, assigned to Dark-Knight11

[2021-10-12 21:27] rpesche opened #116 "Have CI check code with pytest on supported python versions"
Need to run unit tests with GitHub actions.

[2021-10-13 13:23] Dark-Knight11 opened #118 "Test records not saved in history"
### Subject of the issue
All test records are not being saved into history. If you give one test for a specific text sample and after finishing it you press `TAB` to retry again then the new retried test won't be saved into history only the first attempt is being saved.
Similarly, if you change the text with left and right arrow keys then that new test with new text is also not being saved.
Only t

[2021-10-13 13:41] Dark-Knight11 opened #119 "Accuracy above 100"
### Subject of the issue
For a particular test, I got an accuracy of `102.42%`.
Test sample ID: `1758`

### Your environment
* operating-system `Windows`
* version of Mitype `Mitype version 0.2.3+20.g052df91`
* version of Python `3.8.5`
* which terminal and it's version if applicable `Powershell 5.1.19041.1237`

### Steps to reproduce
Not sure how to reproduce right now. I got it by accident. I wi

[2021-10-15 11:18] Mithil467 commented on #118
Thanks for the issue! @Dark-Knight11

[2021-10-16 05:15] #118 closed, assigned to BhandarkarPawan

[2021-10-17 09:04] Mithil467 commented on #119
Thanks for the issue @Dark-Knight11.
This is indeed weird, and hard to reproduce. 🤔

[2021-10-23 04:17] #116 closed, assigned to rpesche

[2021-10-26 04:03] abhikjain360 opened #123 "Error when re-typing the wrong last character"
### Subject of the issue
When we mistype the very last character, and then retype it for correction application exits with out of index error.

### Your environment
* Linux
* 0.2.3
* 3.9.7
* kitty 0.23.1

### Steps to reproduce
When near the end of the text sample, if you mistype more characters than the length of the sentence, and then backspace and retype the right thing, it errors out.

Example

[2021-10-26 06:05] #123 closed, assigned to nobody

[2021-10-28 10:22] Dark-Knight11 opened #124 "Word limit greater than 25"
### Subject of the issue
Tests with text containing larger words (greater than 25 characters) cannot be finished.

### Your environment
* operating-system `Windows`
* version of Mitype `Mitype version 0.2.4`
* version of Python `3.8.5`
* which terminal and its version if applicable `Powershell 5.1.19041.1237`

### Steps to reproduce
Attempt the test with `ID 1634`
Command for starting the test wit

[2021-10-28 15:57] #124 closed, assigned to nobody

[2021-11-07 05:55] Mithil467 opened #127 "Space not counted in mistyped characters"
The error here was `Space` and space is not counted as character hence accuracy `100%`
one more example for this:

![image](https://user-images.githubusercontent.com/55763604/139557962-608f9353-754e-4a6a-8b5d-87c13dcfc556.png)

_Originally posted by @Dark-Knight11 in https://github.com/Mithil467/mitype/issues/119#issuecomment-953739440_

[2021-11-07 06:28] #127 closed

[2021-11-07 06:31] Mithil467 commented on #119
@Dark-Knight11 Thanks for the analysis. 🙌
The issue in your last commit has been fixed with #127.

[2021-12-26 15:09] xihajun opened #132 "Multiple paragraphs supporting?"
**Is your feature request related to a problem? Please describe.**
If it is possible to support multiple paragraphs typing. It seems to merge all the paragraphs into one line?

**Describe the solution you'd like**
It would be good to support enter key to enter into next row.

[2022-10-03 19:24] ClasherKasten opened #145 "Make debugging easier"
**Is your feature request related to a problem? Please describe.**
I wanted to debug the application using the python debugger through `breakpoint()`.
But because mitype is made using `curses`, this isn't very easy or even unfeasible.

**Describe the solution you'd like**
There should be a better way to debug the application,
An idea for that would be to use [remote-pdb](https://pypi.org/project/r

[2022-10-05 12:55] Mithil467 commented on #145
Hey @ClasherKasten 👋
Thanks for the issue.

To debug mitype, I use VS Code's [python debugging](https://code.visualstudio.com/docs/python/debugging) funcionality and it works pretty well. There might be other benefits your solution has to offer, but I would recommend not attaching any debugging scripts to the project, unless it becomes absolutely necessary. And it looks like running it on windows

[2022-10-05 13:34] ClasherKasten commented on #145
Thanks for the response @Mithil467.
I think I don't need any more help on this and just gonna close the issue and corresponding PR, I feel like this is the right choice for now.

[2022-10-05 13:34] #145 closed

[2022-10-11 12:55] #104 closed

[2022-10-11 12:59] Mithil467 commented on #132
Thanks for this issue @xihajun
Sorry for the delay in responding to this. The squashing of all lines was done for simplicity of development. I agree this is a good enhancement to the project.